* {
  margin: 0;
}
html, body {
  height: 100%;
}
.container {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -142px; 
}
.container:after {
  content: "";
  display: block;
}
.footer, .container:after {
  height: 142px; 
}
.footer {
  background-color: #f5f5f5;
  vertical-align: center;
}